<%= simple_form_for category, html: { class: 'category form'} do |f| %>
  <% if category.errors.any? %>
    <div class="error-message">
      <%= form_error_notification(category) %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= link_to 'Cancel', categories_path, class: 'btn btn--light' %>
  <%= f.submit class: 'btn btn--secondary' %>
<% end %>
